body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #2b2d42;
}

img{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
    object-position:center;
}

.modal-dialog {
    max-width: 600px !important;
    background-color: transparent !important;
    border: none;
}

.modal-content{
    background-color: transparent !important;
    border: none;
}

.modal-header{
    border: none !important;
}

.modal-body{
    padding: 0;
    margin: 0 auto;
}

.card{
    border: none;
}

/*CONTENEDOR PRINCIPAL*/
.audio-player-modal {
    --player-button-modal-width: 3em;
    --sound-button-modal-width: 2em;
    --space: .5em;
    margin: auto;
}

.width-custom{
    max-width: 540px;
}

/*CONTENEDOR DE IMAGEN*/
.icon-container-modal {
    width: 100%;
    height: 100%;
    background-color: #ef233c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.audio-icon {
     width: 90%;
     height: 90%;
}

/*CONTROLES Y PLAYER*/
.controls-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
  
.player-button-modal {
    background-color: transparent;
    border: 0;
    width: var(--player-button-modal-width);
    height: var(--player-button-modal-width);
    cursor: pointer;
    padding: 0;
}

.stop-button-modal {
    background-color: transparent;
    border: 0;
    width: var(--player-button-modal-width);
    height: var(--player-button-modal-width);
    cursor: pointer;
    padding: 0;
}

.timeline-modal {
    -webkit-appearance: none;
    width: calc(100% - (var(--player-button-modal-width) + var(--sound-button-modal-width) + var(--space)));
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, #943f65, #ef233c);
    background-repeat: no-repeat;
    margin-right: var(--space);
    margin-left: var(--space);
}

.timeline-modal::-webkit-slider-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.timeline-modal::-moz-range-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.timeline-modal::-ms-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.timeline-modal::-webkit-slider-thumb:hover {
background-color: #d90429;
}

.timeline-modal:hover::-webkit-slider-thumb {
opacity: 1;
}

.timeline-modal::-moz-range-thumb:hover {
background-color: #d90429;
}

.timeline-modal:hover::-moz-range-thumb {
opacity: 1;
}

.timeline-modal::-ms-thumb:hover {
background-color: #d90429;
}

.timeline-modal:hover::-ms-thumb {
opacity: 1;
}

.timeline-modal::-webkit-slider-runnable-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}

.timeline-modal::-moz-range-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}

.timeline-modal::-ms-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}

.volume-container-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: rotate(-90deg);
}

.sound-button-modal {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-modal-width);
    height: var(--sound-button-modal-width);
    cursor: pointer;
    padding: 0;
    transform: rotate(90deg);
  }

.volumeModal {
    -webkit-appearance: none;
    display: none;
    width: 100px;
    height: .5em;
    background-color: #e5e5e5;
    border-radius: 5px;
    background-size: 50% 100%;
    background-image: linear-gradient(to right, #943f65, #ef233c);
    background-repeat: no-repeat;
    position: fixed;
    left: 2em;
}

.volumeModal::-webkit-slider-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.volumeModal::-moz-range-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.volumeModal::-ms-thumb {
-webkit-appearance: none;
width: 1em;
height: 1em;
border-radius: 50%;
cursor: pointer;
opacity: 0;
transition: all .1s;
background-color: #943f65;
}

.volumeModal::-webkit-slider-thumb:hover {
background-color: #d90429;
}

.volumeModal:hover::-webkit-slider-thumb {
opacity: 1;
}

.volumeModal::-moz-range-thumb:hover {
background-color: #d90429;
}

.volumeModal:hover::-moz-range-thumb {
opacity: 1;
}

.volumeModal::-ms-thumb:hover {
background-color: #d90429;
}

.volumeModal:hover::-ms-thumb {
opacity: 1;
}

.volumeModal::-webkit-slider-runnable-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}

.volumeModal::-moz-range-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}

.volumeModal::-ms-track {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;
}